*.pyc
*.bak
*.zip
*.rar
*.7z
*.mp3
*.wav
*.sublime-workspace
.hg/
build/
*.hgignore
*.hgtags
*dist/
docs/_build/
*.egg-info/
traceback.log
__pycache__/

# Added entries (1 items)
*sublime*

# Added entries (1 items)
*code-workspace*
# PT backup directory
.pt/

# Added entries (1 items)
docs.0/
